<header class="navbar navbar-inverse">
	<div class="container"><a class="navbar-brand">BlogName</a></div>
</header>
<section class="container">Find me in app/views/home/index.html.erb</section>
<footer class="container">(c) BlogWorkShop</footer>
