<header class="navbar navbar-inverse">
	<div class="container"><a class="navbar-brand">BlogName</a></div>
</header>
<section class="container">
	<article class="well main-article"></article>
	<nav class="well sidebar"></nav>
</section>
<footer class="container">(c) BlogWorkShop</footer>
